.container {
  margin: 0 auto;
  max-width: 500px;
  }

h1, .tagline {
  text-align: center;
  background-color:white;
  margin-bottom: 22px;
  }

body {
  margin: 50px 10px 50px;
  background-color: #F9F7F5;
  font-family: 'Open Sans', Arial, sans-serif;
  }
header{

  padding: 1px;
  background-color: white;
  }
section{
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  }

h2 {
  margin-left: 3px;
  padding: 1px 1px 17px;
  font-size: 25px;
  border-bottom:2px solid #D39F69;
  margin-right: 20px;
  }

.city-description {
  font-size: 15px;
  text-align:center;
  padding: 35px;
  margin-left: 3px;
  }

img {
  width: 53px;
  height: 53px;
  padding: 5px;
  }

  a {
  color: purple;
}

a:hover {
  color: orange;
  text-decoration: underline;
}
